@import "utils";

.page {
  color: $primary;
  min-width: 320px;
  scroll-behavior: smooth;
  background-color: #fff;
}

.home {
  height: 100vh;
}

.main-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;

  @include on320 {
    flex-direction: column;
  }

  @include on1024 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.sidebar {
  display: none;

  @include on1024 {
    display: block;
    align-self: center;
    width: 50px;
    margin-left: 100px;
  }
}

.elem2 {
  height: 230px;
  margin: 0 auto;
  transform: rotate(90deg);

  @include  on640 {
    height: 400px;
  }

  @include on1024 {
    display: none;
  }
}

.head_and_drop {
  height: 0;
  width: 0;

  @include on1024 {
    height: 764px;
    width: 100%;
  }
}

.drop {
  height: 100px;
  width: 100px;
  margin: 0 auto 50px;

  @include on1024 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
    width: 100px;
    margin: 0 50px 50px 0;
  }
}

.animated-title {
  margin: 0 auto 50px;

  @include on1024 {
    display: block;
    width: 756px;
    margin: auto;
  }
}

.links {
  display: flex;;
  justify-content: space-between;
  margin: 0 auto;
  gap: 5px;

  @include on1024 {
    display: none;
  }
}

.links__onDesktop {
  display: none;

  @include on1024 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
